<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xishi.bom.dao.core.sys.UserDao">
    <resultMap id="User" type="com.xishi.bom.entity.sys.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" jdbcType="BOOLEAN"/>
    </resultMap>
    <sql id="columns">
        id,username,password,salt,locked
	</sql>
    <sql id="dynamicWhere">
        <where>

        </where>
    </sql>
    <select id="getAll" parameterType="map" resultMap="User">
        SELECT
        <include refid="columns"/>
        FROM bom_user u
        <include refid="dynamicWhere"/>
    </select>
    <select id="getByUsername" parameterType="string" resultMap="User">
        SELECT
        u.id,u.username,u.password,u.locked
        FROM bom_user u
        JOIN t_agtm_flow_merc_info info on u.username=info.flow_merc_id
        WHERE u.username=#{username} or info.flow_merc_id_new=#{username}
    </select>
</mapper>